torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
--pre
tf-nightly>=2.19.0.dev20250101
ai-edge-litert-nightly
ai-edge-quantizer-nightly
jax[cpu]
torch-xla2[odml]>=0.0.1.dev20241201
scipy
numpy
tabulate
safetensors
kagglehub
transformers
multipledispatch
