# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/
#
# This workflow will run nightly or when triggered from PR comment

name: Formatting

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string

jobs:
  check-code-style:
    runs-on: ubuntu-latest

    name: Code Style
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Install dependencies
        run: |
          pip3 install pyink isort
      - name: Check code style
        run: |
          ci/test_code_style.sh
