# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/

name: Unit Tests (nightly)

on:
  schedule:
    # 10 am UTC is 3am or 4am PT depending on daylight savings.
    - cron: '0 10 * * *'

  workflow_dispatch: {}

env:
  RUN_LARGE_TESTS: true

jobs:
  run-unittests-python:
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'schedule' && github.repository == 'google-ai-edge/ai-edge-torch')

    name: Unit Tests Python
    uses: ./.github/workflows/unittests_python.yml
    with:
      trigger-sha: ${{ github.sha }}
      # TODO(cnchan): Re-enable once the tf-nightly pywrap issue is fixed.
      run-on-macos: false
