# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/
#
# This workflow will run nightly or when triggered from PR comment

name: Unit Tests Python

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    runs-on:
      labels: Linux_runner_8_core
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.trigger-sha }}

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "**/*requirements.txt"

      - run: python -m pip install --upgrade pip setuptools

      - name: Install dependencies
        run: |
          python -m pip install -r dev-requirements.txt

      - name: Run Tests
        run: |
          run_tests.sh
        env:
          STABLEHLO_BYTECODE_FROM_PRETTYPRINT: 1
          CI: "true"
